h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.hey {
    color:orangered;
    text-transform: uppercase;
}
 
body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    background-color: #f9f9f9;;
}
section {
    display: flex;
}

.half-width {
    width: 50%;
}
.half-width img {
    width: 35%;
    border-radius: 10%;
}

.link-button {
    text-decoration: none;
    color: rgb(241, 235, 235);
    background-image: linear-gradient(red, black);
    padding: 05px 20px;
    font-weight: 500;
    border-radius: 5px;
}